<!DOCTYPE html>
<html>

<head>
    <title>{{ title }} | Blue Nebula Studios</title>

    <link href="/css/site.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <!--NAVIGATION-->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <span class="material-icons md-24" title="About me">
                            face
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/collections">
                        <span class="material-icons md-24" title="Collections">
                            backpack
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stream">
                        <span class="material-icons md-24" title="My stream">
                            link
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <!--BODY CONTENT-->
    <div id="body-content" class="container">
        {{~> page }}
    </div>


    <!--SCRIPTS-->
    {{> scripts }}
</body>

</html>
