/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

#body-content {
  margin-top: 20px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  padding-top: 24px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 18px;
  justify-content: center;
  align-content: center;
}

body {
  background-color: white;
  color: black;
}

.container-fluid {
  padding: 3% 15%;
}

#title {
  background-color: #ff4c68;
  color: white;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5em;
}

h2 {
  font-family: 'Montserrat';
}

h3 {
  font-family: 'Montserrat';
}

p {
  color: #8f8f8f;
}

.vert-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Navigation Bar*/
.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-item {
  padding: 0 15px 0 15px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons*/
.download-button {
  margin: 5% 3% 5% 0;
}

/*Title Image*/
.title-image {
  width: 60%;
  transform: rotate(25deg);
}

/* Features */
#features {
  padding: 7% 15% 7% 15%;
  text-align: center;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1.5rem;
}

.icon:hover {
  color: #ff4c68;
  margin-bottom: 1.5rem;
}

/*Testimonials*/
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 10%;
}

.press-logo {
width: 15%;
margin: 20px 20px 50px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
