{{#*inline "page"}}

<h1>{{ title }}</h1>
<p>{{ description }}</p>
<hr />

<div class="container" style="text-align: left;">
    <div class="container" style="text-align: left;">
        <h3>PLACEHOLDER</h3>
        <br />

        <div class="container" style="text-align: left;">
            <p>placeholder</p>
        </div>
    </div>

    <br />

    <div class="container" style="text-align: left;">
        <h3>PLACEHOLDER</h3>
        <br />

        <div class="container" style="text-align: left;">
            <p>placeholder</p>
        </div>
    </div>
</div>

<hr />

{{/inline}}

{{~> (parent) ~}}