{{#*inline "page"}}

<div class="container">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
</div>

<div class="container text-center">
    <!-- Placeholder for the Twitch embed-->
    <div id="twitch-embed"></div>


    <!-- Load the Twitch embed script -->
    <script src="https://embed.twitch.tv/embed/v1.js"></script>

    <script type="text/javascript">
        var embed = new Twitch.Embed("twitch-embed", {
            width: "854",
            height: "480",
            channel: "bluenebularandy",
            layout: "video-with-chat",
            autoplay: false,
        });

        embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
            var player = embed.getPlayer();
            player.play();
        });
    </script>
</div>

{{/inline}}

{{~> (parent) ~}}
