{{#*inline "page"}}

<div class="container">
    <h1>An error has occurred!</h1>

    <div class="container">
        <p>Error: 404 (NOT FOUND)</p>
        <p>Path: {{ path }}</p>
    </div>
</div>

{{/inline}}

{{~> (parent)~}}